body {
    background-color: #282c34;
    color: #ebeaea;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
p {
    margin: 10px;
    font-size: 20px;
}
summary {
    cursor: pointer;
}
a .link {
    font-size: 20px;
    color: rgb(225, 213, 199);
    background-color: rgba(255, 228, 196, 0.236);
}

.nice {
    font-size: 18px;
    text-align: center;
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
    padding: 5px 0px;
    margin-bottom: 5px;
}
.nice code {
    color: rgb(243, 241, 238);
    background-color: rgba(161, 124, 75, 0.609);
    font-size: 17px;
    padding: 2px;
    border-radius: 6px;
}
.nice .code {
    padding: 6px 10px;
}
.nice .format-off {
    background-color: initial;
    font-size: initial;
    padding: initial;
    border-radius: initial;
}
.nice div {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nice th {
    padding: 5px 10px;
    background-color: rgba(255, 225, 55, 0.226) ;
    border-radius: 10px;
}
.nice td {
    padding: 3px 10px;
    background-color: rgba(240, 226, 221, 0.226);
    border-radius: 10px;
}
.nice .limited {
    background-color: rgba(235, 88, 35, 0.216);
}
.nice .req {
    border: 2px solid #b0a3305d; 
    border-radius: 10px;
    padding: 3px 6px;
    margin: 7px;
}
.nice .fa-circle-info {
    color: rgba(255, 255, 0, 0.804);
}

.vars-box .sum-txt {
    font-size: 23px;
    font-weight: bold;
}

.more-info {
    margin-top: 10px;
    border-radius: 10px;
    padding: 7px;
}
.green {
    border: 3px solid #3b9520;
}
.blue {
    border: 3px solid #0599a7; 
}
.purple {
    border: 3px solid #6105a7; 
}
.yellow {
    border: 3px solid #b0a330;
}